azureml-sdk[notebooks,contrib,automl,explain]
azureml-contrib-datadrift
azureml-telemetry
azureml-tensorboard
azureml-contrib-opendatasets
azureml-opendatasets
azureml-contrib-reinforcementlearning
azureml-mlflow
azureml-contrib-interpret
tensorflow==2.11.1
keras==2.3.0
